<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>Login</title>
  <link rel="stylesheet" href="/css/auth/login_start.css">
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form id="loginform" class="login-form">
      
      <div class="form-group">
        <label for="username">Username *</label>
        <input type="text" id="username" name="username" required>
      </div>

     

      <div class="form-group">
        <label for="password">Password *</label>
        <input type="password" id="password" name="password" required>
      </div>

     

      <button type="submit" class="btn">Login</button>
    </form>
  </div>


  <script src="/js/auth/login_start.js"></script>
</body>
</html>
