<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/auth/logout.css">
  <title>Logout</title>
</head>
<body>
  <div class="logout-container">
    <h1>Logout</h1>
    <p>Are you sure you want to logout?</p>
    <button id="logoutBtn" class="btn">Yes, Logout</button>
  </div>

  <script src="/js/auth/logout.js"></script>
</body>
</html>
