<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Categories</title>
  <link rel="stylesheet" href="/css/categories/categories.css">
</head>
<body>
  <div class="categories-container">
    <h2>All Categories</h2>
    <ul id="categoriesList"></ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/categories/categories.js"></script>
</body>
</html>
